=link_to image_tag('vk.jpg',:width=>50,:height=>50), 'http://vkontakte.ru/lucien', :target=>'_blank'
&nbsp
=link_to image_tag('fb.png',:width=>50,:height=>50),  'http://www.facebook.com/alla.lucien', :target=>'_blank'