/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
.whitespace {
    padding-top: 100px;
}
.header {
    font-family: 'Century Gothic';
    font-size: 45px;
    height: 85px;
}
.menu {
    font-family: 'Century Gothic';
    font-size: 16px;
    height: 30px;
}
.magnetta {
    color: #FF0066
}
